.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1em;
    margin: auto;
}

.footer section {
    display: flex;
    gap: 1em;
}

.footer section p {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .footer {
        width: 100%;
    }

    .footer section p {
        font-size: 11px;
    }
}