.contactLists {
    width: 80%;
    margin: 1em auto;
}

.lists p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
}

.lists section {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: flex-end;
}

.remove-btn {
    background-color: red;
}

.remove-btn:hover {
    background-color: rgb(229, 66, 66);
}

.sms-btn {
    background-color: green;
}

.sms-btn:hover {
    background-color: lightgreen;
}